@media screen and (max-width:775px){
  .pokemon_static{
    width: 8em;
    top: 26%;
    left: 68%;
  }
  .tipo{
    width: 5em;
    height: 1.5em;
    font-size: 0.95em;
  }
}
@media screen and (max-width:695px){
  .pokemon_static{
    width: 7.3em;
    top: 24.5%;
    left: 68%;
  }
  .button p{
    font-size: 0.9em;
  }
  .tipo{
    margin-top: 0.2em;
    width: 5em;
    height: 1.5em;
    font-size: 0.95em;
  }
}
@media screen and (max-width:600px){
  .pokemon_static{
    width: 6.5em;
    top: 24.8%;
    left: 67%;
  }
  .button p{
    font-size: 0.8em;
  }
  .title_type{
    width: 2.8em;
  }
}
@media screen and (max-width:525px){
  .pokemon_static{
    width: 6em;
    top: 24.5%;
    left: 68%;
  }
}
@media screen and (max-width:430px){
  .pokemon_static{
    width: 5em;
    top: 24.1%;
    left: 68%;
  }
}
@media screen and (max-width:375px){
  .pokemon_static{
    width: 4.2em;
    top: 24.5%;
    left: 68%;
  }
}
@media screen and (max-width:320px){
  .pokemon_static{
    width: 3.5em;
    top: 25%;
    left: 68%;
  }
}
